/db-*
/groonga-database
/public/1.*
/test-unit
/webrat.log
/test/db-*
/test/fixtures/ruby-refm-*
/test/groonga-database
/test/suggest-database
/test/.test-result
/test/fixtures/rubydoc
/document.yaml
/smtp.yaml
/var/
