/db-*
/groonga-database
/public/1.*
/public/2.*
/public/3.*
/test-unit
/webrat.log
/test/db-*
/test/fixtures/ruby-refm-*
/test/groonga-database
/test/suggest-database
/test/.test-result
/test/fixtures/doctree
/document.yaml
/smtp.yaml
/var/
/Gemfile.lock
/.bundle/config
