<div class="message">
  <p>ごめんなさい。エラーが発生しました。</p>
  <p>エラーの内容は開発者に通知したのでしばらくしたら直っているかもしれません。</p>
  <p>しばらくたっても直らない場合は<a href="http://redmine.ruby-lang.org/wiki/rurema/MailingList">ruby-reference-manualメーリングリスト</a>で報告してください。</p>
</div>
