<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="robot" content="noindex,nofollow" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/rurema.css" type="text/css" media="all" />
</head>
<body>
  <h1><%= h1 %></h1>
  <div class="search-form">
    <form method="POST" action="./">
      <input type="text" name="query" value="<%= h(@query) %>">
      <input type="submit" value="検索">
    </form>
  </div>
  <%= search_result %>
</body>
</html>
