<div class="no-result">
  <p>見つかりませんでした。検索条件を変えてみませんか？</p>
  <ul>
<% if @ordered_parameters.size <= 1 %>
    <li><a href="/">全件表示</a></li>
<% else %>
<%   @ordered_parameters.each do |key, value| %>
    <li>
      <a href="/<%= parameter_link_href(key, value) %>">
          「<%= h(parameter_link_label(key, value)) %>」だけで検索
      </a>
    </li>
<%   end %>
<% end %>
  </ul>
</div>
