@charset "utf-8";

html,
body
{
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
}

a
{
  color: #4c4cc6;
}

a:visited
{
  color: #9191ec;
}

a:hover,
a:focus
{
  color: white;
  background-color: #4c4cc6;
}

div.header
{
  position: static;
}

div.header h1
{
  padding: 0;
  margin: 0;
  margin-right: 0.5em;
}

div.header h1 a img
{
  border-style: none;
}

div.header h1 a:hover,
div.header h1 a:focus
{
  background-color: transparent;
}

div.header div.search-form
{
  position: absolute;
  left: 260px;
  top: 15px;
}

div.header div.search-form form input.query
{
  width: 20em;
}

div.content
{
  clear: both;
}

div.content div.version-select
{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c1c1ec;
}

div.content div.version-select ul,
div.content div.version-select ul li
{
  margin: 0;
  padding: 0;
}

div.content div.version-select ul
{
  padding-left: 1em;
}

div.content div.version-select ul li
{
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #c1c1ec;
  border-bottom-color: #e9e9f8;
}

div.content div.version-select ul li.version-select-current
{
  background-color: #4c4cc6;
}

div.content div.version-select ul li a
{
  text-decoration: none;
}

div.content div.version-select ul li.version-select-current a
{
  color: white;
}

div.content div.statistics
{
  text-align: right;
  background-color: #e9e9f8;
  border-bottom: 1px solid #c1c1ec;
  margin-bottom: 1em;
}

div.topic-path
{
  margin-left: 1em;
}

div.result
{
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

div.drilldowns
{
}

div.drilldown
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.drilldown h2
{
  display: inline;
}

dl.entries
{
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #c1c1ec;
  margin-top: 1em;
  margin-bottom: 1em;
}

dl.entries dt
{
  border-top: 1px solid #c1c1ec;
  padding-top: 0.15em;
  padding-bottom: 0.25em;
  background-color: #e9e9f8;
}

dl.entries dd
{
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 3em;
  padding-left: 0;
}

dl.entries dd ul.entry-metadata
{
  margin: 0;
  padding: 0;
}

dl.entries dd ul.entry-metadata li
{
  display: inline;
}

span.keyword
{
  font-weight: bold;
}

div.snippets
{
  margin-right: 3em;
}

div.snippet
{
  margin-bottom: 0.5em;
}

div.snippet span.separator
{
  font-weight: bold;
}

div.paginate
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.paginate a
{
  text-decoration: none;
}

div.paginate span.paginate-link,
div.paginate span.paginate-text,
div.paginate span.paginate-current
{
  border: 1px solid #c1c1ec;
  vertical-align: middle;
  padding: 0.2em 0.4em;
}

div.paginate span.paginate-text
{
  color: #aaa;
}

div.paginate span.paginate-current
{
  color: white;
  background-color: #4c4cc6;
}

div.no-result
{
  padding-left: 1em;
}

div.footer
{
  border-top: 1px solid #c1c1ec;
  padding-top: 0.5em;
  font-size: smaller;
  color: #aaa;
}

div.footer p
{
  padding: 0;
  margin: 0;
  text-align: center;
}
