@charset "utf-8";

html,
body
{
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
}

a
{
  color: #4c4cc6;
}

a:visited
{
  color: #c1c1ec;
}

a:hover,
a:focus
{
  color: white;
  background-color: #4c4cc6;
}

div.header
{
  position: static;
  border-bottom: 1px solid #c1c1ec;
}

div.header h1
{
  padding: 0;
  margin: 0;
  margin-right: 0.5em;
}

div.header h1 a img
{
  border-style: none;
}

div.header h1 a:hover,
div.header h1 a:focus
{
  background-color: transparent;
}

div.header div.search-form
{
  position: absolute;
  left: 260px;
  top: 15px;
}

div.header div.search-form form input.query
{
  width: 20em;
}

div.content
{
  clear: both;
}

div.content div.statistics
{
  text-align: right;
  background-color: #e9e9f8;
  border-bottom: 1px solid #c1c1ec;
}

div.result
{
  padding-left: 1em;
  padding-right: 1em;
}

table.entries
{
  border-collapse: separate;
  border-spacing: 0;
  padding-top: 1em;
  border-bottom: 1px solid #c1c1ec;
}

table.entries th
{
  border: 1px solid #c1c1ec;
}

table.entries tr.entry-even
{
  background-color: #e9e9f8;
}

table.entries td
{
  padding: 0.25em;
}

table.entries td.entry-description
{
  padding: 0.5em;
}

span.keyword
{
  font-weight: bold;
}

div.snippet span.separator
{
  font-weight: bold;
}

div.paginate
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.paginate a
{
  text-decoration: none;
}

div.paginate span.paginate-link,
div.paginate span.paginate-text,
div.paginate span.paginate-current
{
  border: 1px solid #c1c1ec;
  vertical-align: middle;
  padding: 0.2em 0.4em;
}

div.paginate span.paginate-text
{
  color: #aaa;
}

div.paginate span.paginate-current
{
  color: white;
  background-color: #4c4cc6;
}
